test.*
*.pyc
*.log
dataset
*.swp
.vscode/*
input.txt
output.txt
*.json
.vscode/*
*.sh
/out_original
todo.txt
/alignment/models/heavy
/data
/alignment/incremental
/alignment/models/clustering
/alignment/models/incremental
/alignment/models/incremental_2
/alignment/models/incremental_3
/alignment/models/incremental_42
/alignment/models/incremental_43
/alignment/models/incremental_44
/alignment/models/incremental_many
/alignment/logs
/alignment/models
/alignment/models/giugno
