test.*
*.pyc
*.log
dataset
*.swp
.vscode/*
input.txt
output.txt
*.json
.vscode/*
*.sh
/out_original
todo.txt
/data
/alignment/logs
/alignment/models
alignment/old_code.ipynb
alignment/linear_models_gpu.py
alignment/zeroshot_utils_gpu.py
alignment/linear_models.py
alignment/zeroshot_utils.py