test.*
*.pyc
*.log
dataset
*.swp
.vscode/*
input.txt
output.txt
*.json
.vscode/*
*.sh
/out_original
todo.txt
/data
/alignment/logs
/alignment/old
/alignment/models/old
/alignment/models/plots
/alignment/logs_32
/alignment/logs_96
/alignment/logs_96_v1
